<div class="chatbutton">
<button mat-raised-button color="accent" (click)="toggleChat()">
    Chat with ChadGPT
  </button>
  </div>
  @if (isChatOpen) {
    <div class="chat-box">
      <div class="chat-header">
        <span>ChadGPT</span>
        <div>
        <button mat-icon-button color="white" (click)="clearMessages()"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button color="white" (click)="toggleChat()"><span class="material-symbols-outlined">
          close
          </span></button>
        </div>
      </div>
      <div #scrollContainer class="chat-content">
        @for (message of messages; track message.id) {
          <div class="message" [ngClass]="message.sender">
            {{ message.text }}
            @if (message.sender === 'bot' && (isReservationConfirmation(message.text) || isReservationChangeConfirmation(message.text) || isReservationCancellationConfirmation(message.text))) {
              <div class="rating-container">
                <div class="rating-title">Rate your experience</div>
                <div class="stars">
                  @for (star of stars; track star) {
                    <span 
                      class="star" 
                      [class.filled]="star <= ratings[message.id]" 
                      (click)="setRating(star, message.id)">&#9733;</span>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
      <div class="chat-input">
        <input
          type="text"
          placeholder="Type a message..."
          [(ngModel)]="userMessage"
          (keydown.enter)="sendMessage()"
        />
        <button mat-icon-button color="primary" (click)="sendMessage()"><span class="material-symbols-outlined">
          send
          </span></button>
    </div>
    </div>
  }