.chatbutton button {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 1000;
  margin: 10px;
  background-color: #201f20;
  color: white;
}

.chat-box {
  position: fixed;
  bottom: 90px;
  right: 40px;
  width: 350px;
  height: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  padding: 10px;
  background: #6750a4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-content {
  padding: 10px;
  overflow-y: auto;
  background-color: black;
  color: white;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.message.bot {
  background-color: #2b2a2a;
  align-self: flex-start;
}

.message.user {
  background-color: #6750a4;
  color: white;
  align-self: flex-end;
}
.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #201f20;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  min-width: 0;
  background: white;
  color: black;
}

.chat-input input::placeholder {
  color: #2b2a2a;
}

.chat-input button {
  flex-shrink: 0;
  color: #6750a4;
}
